@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;700&display=swap');

:root {
    --font-title: 'Lato', sans-serif;
    --font-paragraph: 'Open Sans', sans-serif;
}
.container {
    max-width: 1080px;
    margin: auto;
}
.container {
    max-width: 1080px;
    margin: auto;
}
.subheader {
    background-color: #FFFFFF;
}
.subheader-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1080px;
    text-align: center;
    font-size: 14px;
    height: 2.5em;
    font-family: var(--font-paragraph);
    font-weight: 700;
    margin: auto;
}
.subheader  a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.subheader ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0%;
}
.subheader ul img {
     height: 2rem;
     margin-left: 1rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-title);
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 2rem;
    max-width: 1080px;
    margin: auto;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-paragraph);
    font-weight: 300;
    font-size: 14px;
    list-style-type: none;
}
nav ul li {
    margin-left: 2rem;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
}
nav a:hover{
    color: #32BBCB;
}
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
header {
    background: linear-gradient(rgb(22, 28, 37), rgb(133, 141, 155));
    height: 450px;
    text-align: center;
}
header h1 {
    font-size: 84px;
    font-family: var(--font-title);
    color: #FFFFFF;
    padding: 30px 40px 30px 40px;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #272F3C;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.pricing {
    text-align: center;
   
}
.price-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.price-list .center-article {
   position: relative;
   margin-top: 6rem;
}
.price-list article {
    background-color: white;
    box-shadow: 2px 2px 2px 3px whitesmoke;
    padding: 35px 50px 35px 50px;
    font-family: var(--font-paragraph);
    font-size: 14px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 6rem;
}
.buttons button {
    color: #FFFFFF;
    background-color: #32BBCB;
    border: 0;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: auto;
    font-weight: lighter;
    box-shadow: 2px 2px 2px 3px rgb(240, 237, 237);
    border-radius: 3px;
    font-family: var(--font-title);
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}
.buttons button a {
    text-decoration: none;
}
.section {
    background-image: url(../img/bg-section.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.section h3 {
    font-family: var(--font-title);
    font-weight: 400;
    color: #272F3C;
    font-size: 22px;
    text-align: center;
    padding-top: 4rem;
}
.section h4 {
    font-family: var(--font-paragraph);
    font-weight: 300;
    color: #9DA3AD;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    font-family: var(--font-paragraph);
    color: #9DA3AD;
    padding-top: 4rem;
    max-width: 1080px;
    margin: auto;
}
.section .options h3 {
    font-family: var(--font-title);
    color: #32BBCB;
    font-size: 22px;
}
.options article {
    background-color: white;
    box-shadow: 2px 2px 2px 3px whitesmoke;
    padding: 35px 50px 35px 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 2rem;
}

.teacher article {
    background-color: white;
    box-shadow: 2px 2px 2px 3px whitesmoke;
    padding: 1rem 0 3rem 0;
    font-family:  'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #9DA3AD;
    justify-content: center;
}
.section .teacher h3 {
    font-family: var(--font-title);
    color: #32BBCB;
    font-size: 22px;
}
footer {
    background-color: #272F3C;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    padding: 4rem 4rem 0rem 4rem;
    flex: 0 0 auto;
    margin: auto;
    font-family: var(--font-paragraph);
    color: #FFFFFF;
    justify-content: space-between;
}
footer article {
    width: 16rem;
}
footer a {
    text-decoration: none;
    color: #FFFFFF;
}
footer a:hover {
    color: #32BBCB;
}
footer a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
footer .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 20px 0px 20px;
    padding: 0rem 3rem 3rem 3rem;
    font-family: var(--font-paragraph);
    font-weight: 300;
    font-size: 16px;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 2.5em;
}
.social-media ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.social-media ul img {
     height: 2rem;
     margin-left: 1rem;
}
